{% extends 'main/base.html'%}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}<br>
        {{ form.task }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
    {% if tasks %}
        {% for el in tasks %}
            <div>
               <h3>{{ el.name }}</h3>
               <p>{{ el.task }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Записей нет</p>
    {% endif %}
{% endblock %}